<!doctype html>
<html lang="en">
<head>
  <meta charset="utf8">
  <link href="/reset.css" rel="stylesheet">
  <link href="/style.css" rel="stylesheet">
</head>
<body>

  <div id="main">
    <%= yield %>
  </div>

  <%= javascript_include_tag 'jquery', 'jquery-ujs', 'application' %>
</body>
</html>
